@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/modals";
@import "components/svg";

@import "layout/footer";
@import "layout/header";
@import "layout/sidebar";

@import "pages/landing";
@import "pages/dashboard";
@import "pages/portfolio";
@import "pages/congratulations";
@import "pages/404";
@import "pages/overview";
@import "pages/newitem";