.btn {
  text-decoration: none;
  padding: 0.7rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;


  &-block {
    display: block;
  }

  &-purple {
    background-color: $purple;

    &:hover {
      background-color: lighten($purple, 10%);
    }
  }
}
