*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", segoe UI, sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1.6rem;
}
.blue-body {
  background-color: #f9f9fa;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  color: #3f3f3f;
}
main.general-main
{
  margin-top: var(--header-width);
  margin-left: var(--header-width);
  background-color: var(--header-background);
  height: calc(100vh - var(--header-width));
  width: calc(100vw - var(--header-width));
}