main#congratulations-main
{
	background-image: url("../assets/img/cheers.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 25vw 0;

	h1
	{
		padding-top: 50vh;
		font-weight: 50;
		font-size: 6rem;
		text-align: center;
	}
	h3
	{
		text-align: center;
		font-size: 1.5rem;
	}
}